# Import relevant  modules for file extraction

In [2]:
import pandas as pd

# Extract data into Data Frame

In [7]:
orders_df = pd.read_csv('C:\\Users\\rchauhan\\Desktop\\Springboard Materials\\Capstone Project Data\\orders.csv')
orders_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [16]:
department_df = pd.read_csv('C:\\Users\\rchauhan\\Desktop\\Springboard Materials\\Capstone Project Data\\departments.csv')
department_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [17]:
product_df = pd.read_csv('C:\\Users\\rchauhan\\Desktop\\Springboard Materials\\Capstone Project Data\\products.csv')
product_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

# Understand the Orders data.

In [10]:
#count order_ids for different evaluation set
count_eval_set = orders_df.groupby('eval_set').count()['order_id']
count_eval_set

eval_set
prior    3214874
test       75000
train     131209
Name: order_id, dtype: int64

In [15]:
#count order_ids based on users
count_users = orders_df.groupby('user_id').count()['order_id']
count_users.sort_values(ascending = False).head(100)

user_id
26086     100
120897    100
122476    100
31118     100
1868      100
138283    100
24609     100
115423    100
157667    100
24562     100
143099    100
170771    100
170746    100
24531     100
203027    100
143118    100
5296      100
143121    100
203020    100
91957     100
42711     100
149567    100
57367     100
57130     100
190983    100
24659     100
24766     100
102666    100
198217    100
190887    100
         ...
170096    100
78375     100
143296    100
91972     100
124710    100
31186     100
131725    100
179732    100
143177    100
102256    100
157704    100
5329      100
57621     100
102254    100
78677     100
42520     100
78644     100
196613    100
24283     100
57838     100
57851     100
92052     100
110129    100
143278    100
179837    100
78879     100
5101      100
42307     100
24908     100
171807    100
Name: order_id, Length: 100, dtype: int64

# Clean up Department and Product Data

In [19]:
#remove unwanted any extra blank spaces in the department field
department_df['department'] = department_df['department'].str.strip()

In [23]:
#remove any Null values in the department label
department_df.dropna(axis=0,how='any',subset=['department']).head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [21]:
#remove unwanted any extra blank spaces in the product field
product_df['product_name'] = product_df['product_name'].str.strip()

In [24]:
#remove any Null values in the product label
product_df.dropna(axis=0,how='any',subset=['product_name']).head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [26]:
orders_df['eval_set'].value_counts()

prior    3214874
train     131209
test       75000
Name: eval_set, dtype: int64